@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav p{
  margin-top: 1.5%;
  margin-left: 2%;
  font-size: 20px;
}
.nav ul{
  padding: 0;
  margin:0px;
  overflow:hidden;
  list-style: none;
  gap: 1rem;
  height: 60px;
  padding-left:77.5%;
  position:absolute;
  padding-bottom:5%;
}
.nav li{
  float:right;
}
.nav a{
   display: block;
  color: #BB0A10;
  text-align: center;
  padding: 21px 16px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
}
.nav{
  padding: 0 1rem;
  background-color: #F7F7F7;
  border-radius: 2px;
  display: block;
  width: 100%;
  margin: 0;
  height:1%;
}

.container-app{
  position:relative;
  width:33%;
  flex-wrap: wrap;
  background-color: #F6F7F7;
  margin-left: 35%;
  margin-right:20%;
  margin-top: 10%;
  height:380px;
  /* padding-top:5%;
  background-color: #F6F7F7; */

}
.group .label{
  display:block;
  padding-bottom:0.5%;
  padding-right:55%;
}
.form{
  padding-left:5%;
  padding-top:3%;
  padding-right:4%;

}
.form .part{
  margin-top:1%;
  padding-top:3%;
  padding-bottom:3%;
  width:75%;
  height:60%;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline:none;
  font-size: 16px;
  padding-left:2%;
}

.form .group{
  padding-bottom: 6%;
}
.group .group1{
  display:flex;
  justify-content: space-between;
}
.group .group1 .label{
  display:block;
  padding-top:1%;
  padding-left:15%;
  padding-right:0%;
}
.group1 a {
  padding-right:20%;
  text-decoration: none;
  color:#BB0A10;
  padding-top:1%;
}
.group1 h6{
  font-size: 12px;
  padding-right:5%;
}
.form .group2{
  padding-top:2%;
  display:flex;
  align-items: center;
  font-size: 15px;
}
.group2 p{
  padding-left:21%;
  padding-top:1.6%;
}
.group2 a{
  padding-left:2%;
  text-decoration: none;
  color:#BB0A10;
}
.group2 a h6{
font-size: 15px;
padding-right: 5%;
}
.group .icon{
  position: absolute;
  z-index: 1;
  margin-left:62%;
  margin-top:5%;
  cursor: pointer;
}
.submit-button{
  color: #fff;
    background-color: #BB0A10;
    border-color:#BB0A10;
    font-weight:bold;
    width:73%;
    height: 3.75em;
    font-size: 14px;
    margin-top:5%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    outline:none;
}
.container-app h4{
  text-align:center;
  padding-left:3%;
  padding-top:4%;
  font-size: 27px;
  text-emphasis:bold;
}
.form .error{
  margin-top:1%;
  padding-top:3%;
  padding-bottom:3%;
  width:90%;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline:none;
  font-size: 16px;
  padding-left:2%;
  border:1px solid #ff0000;
}
.form .register-error{
  margin-top:2%;
  padding-top:3%;
  padding-bottom:3%;
  width:90%;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline:none;
  font-size: 16px;
  padding-left:2%;
  border:1px solid #ff0000;
}
.background .form{
  margin-top:5%;
}

.error-login {
  position:absolute;
  color: #D8000C;
  background-color: #FFBABA;
  border-radius:2px;
  width:80%;
  height:6%;
  margin-left:6%;
  margin-top:-1%;
  padding-top:0.5%;
  padding-left:2%;
  font-size: 14px;
}
.error-message{
  position:absolute;
  color: #D8000C;
  background-color: #FFBABA;
  border-radius:2px;
  width:80%;
  height:6%;
  margin-left:10%;
  padding-top:0.6%;
  padding-left:2%;
  margin-bottom: 10%;
  font-size: 13.5px;
}
.background{
  position:relative;
  max-width: 450px;
  width: 100%;
  box-sizing:border-box;
  background-color: #F6F7F7;
  margin-left: 35%;
  margin-right:35%;
  margin-top: 5%;
  height:450px;
}
.form .sub-part{
  padding-top:3%;
  padding-bottom:3%;
  width:90%;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline:none;
  font-size: 16px;
  padding-left:2%;
}
.background h4{
  text-align:center;
  padding-top:6%;
  font-size: 27px;
  text-emphasis:bold;
}
.group .icon-register{
  position: absolute;
  z-index: 1;
  margin-left:72%;
  margin-top:4%;
  cursor: pointer;
}
.register-button{
      color: #fff;
      background-color: #BB0A10;
      border-color:#BB0A10;
      font-weight:bold;
      width: 90%;
      height: 3.1em;
      font-size: 14px;
      margin-top:8.5%;
      border-radius: 2px;
      overflow: relative;
      outline:none;
}
.form .label-register{
  font-size: 15px;
  display:block;
}
.password-error{
  font-size: 11px;
  padding-top:1%;
  margin-bottom: 0;
  color:red;
}
.form .group-password{
  margin-top:-15px;
}
.group-password .icon-register{
  position: absolute;
  z-index: 1;
  margin-left:76%;
  margin-top:4%;
  cursor: pointer;
}
.button-twoerror{
  color: #fff;
  background-color: #BB0A10;
  border-color:#BB0A10;
  font-weight:bold;
  width: 90%;
  height: 3.1em;
  font-size: 14px;
  margin-top:-2.5%;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  outline:none;
}
.button-error{  
color: #fff;
background-color: #BB0A10;
border-color:#BB0A10;
font-weight:bold;
width: 90%;
height: 3.1em;
font-size: 14px;
margin-top:3%;
border-radius: 2px;
overflow: relative;
outline:none;
}
body{
  /* background-image : url("images/pexels-sameera-madusanka-1572036.jpg");
  background-repeat: no-repeat ;
  background-attachment: fixed;
  background-size: cover; */
  padding-bottom:50px;
}

body#home{
  background-image : url("images/20190603_103903-trees-canopy-scaled.jpg");
  background-repeat: no-repeat ;
  background-attachment: fixed;
  background-size: cover;
}

.explore-card{
  display:inline-block;
}

.explore-display-text{
  color:white;
  font: xx-large;
}

.explore-searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    width: 30%;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.explore-page {
  width:100%;
}

.cards {

  padding-top:5%;
  
  margin-bottom: 5%;

  display: grid;
   
  grid-template-columns: repeat(3, 1fr);
   
  grid-auto-rows: auto;
   
  grid-gap: 1rem;

  justify-items:center;

  width:60%;

  margin:auto;
   
  }

.card {
  display: flex;
 
  border: 2px solid #e7e7e7;
   
  border-radius: 4px;

  padding: .5rem;

  margin-bottom: 10%;
  
  width:95%;

  transition: all .2s ease-in-out;

  text-decoration: none;

  }

.card:hover {
  transform: scale(1.1);
}

.card-text {
  padding-top:2%;
  text-decoration: none;
  color:black;
}

.card-image {
  padding-bottom:3%;
}

.card-button {
  position:absolute;
  bottom:0;
}

.container {
  padding: 2px 16px;
  white-space: nowrap;
  
}

.home-text {
  padding-top:25%;
  color:white;
  font-size: 40px;
}

.home-button {
  color: #fff;
  background-color: #BB0A10;
  border-color:#BB0A10;
  font-weight:bold;
  width: 15%;
  height: 50px;
  font-size: 14px;
  margin-top: 1.5%;
  font-size: 20px;
}

.home-button:hover {
  transform: scale(1.1);
}

.home-button-container{
  padding-top:10%;
}

.home-background {
  /* The image used */
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url(images/20190603_103903-trees-canopy-scaled.jpg);

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -10;
}

.explore-background {

  padding-top:5%;

  /* The image used */
  background-image: url(images/pexels-sameera-madusanka-1572036.jpg);

  background-repeat: repeat;
  /* Set rules to fill background */
  /* min-height: 100%; */
  /* min-width: 1024px; */
	
  /* Set up proportionate scaling */
  width: 100%;
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;

  z-index: -10;

  background-size:cover;
}

.home-description {
  font-size: 40;
  color: white;
}

.results-background {

  padding-top:5%;
  padding-bottom:10%;

  /* The image used */
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)), url(images/pexels-julian-paolo-dayag-1673973.jpg);

  /* Set rules to fill background */
  min-height: 100%; 
  /* min-width: 1024px; */
	
  /* Set up proportionate scaling */
  width: 100%;
  /* height: auto; */
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -10;

  background-size:cover;
}

.results-title {
  padding-top:6%;
  color:white;
}

.results-text {
  color:black;
  background-color: #F6F7F7;
  width:30%;
  margin-top: 2%;
  margin-left: 35%;
  padding-top: 10%;
  height: 290px;
}
select option{
  padding: 5%;
}

@keyframes slideDown {
  0% {
    transform:translateY(100%);
  }
  100% {
    transform:translateY(0);
  }
}

/* .home-text-background {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
} */

.no-display {
  display:none;
}

.results-button {
  color: #fff;
 background-color: #BB0A10;
 border-color:#BB0A10;
 font-weight:bold;
 width: 30%;
 height: 3.1em;
 font-size: 14px;
 margin-top: 5%;
}

.form-response{
  margin-top: 3%;
}
.filter-button{
  color: #fff;
  background-color: #BB0A10;
  border-color:#BB0A10;
  font-weight:bold;
  width: 90%;
  height: 3.1em;
  font-size: 14px;
  margin-top:3%;
  border-radius: 2px;
  overflow: relative;
  outline:none;
}
.registered-message{
  position:absolute;
  color: #b3d9b3;
  background-color: #5AAD46;;
  border-radius:2px;
  width:84%;
  height:3.7%;
  margin-left:7%;
  padding-top:0.4%;
  padding-left:2%;
  font-size: 13px;
}
.check-icon{
  padding-right:2%;
}
.button-other-error{
  width: 10%;
  height: 3.1em;
  font-size: 14px;
  margin-top: 1.5%;
}

.search-button{
  color: #fff;
  background-color: #BB0A10;
  border-color:#BB0A10;
  font-weight:bold;
  width: 90%;
  height: 3.1em;
  font-size: 14px;
  margin-bottom:10%;
  border-radius: 2px;
  overflow: relative;
  outline:none;
}
.incorrect-login{
  position:absolute;
  color: #D8000C;
  background-color: #FFBABA;
  border-radius:2px;
  width:80%;
  height:6%;
  margin-left:6%;
  margin-top:-1%;
  padding-top:0.5%;
  padding-left:2%;
  font-size: 14px;
  width: 10%;
  height: 45px;
  font-size: 14px;
  margin-top: 1.5%;
}